* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  width: 100%;
  background-image: linear-gradient(135deg, #fca311, #e63946);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 217px;
  /* background: whitesmoke;
  border: 1px solid black;
  outline: 3px solid black;
  overflow: hidden; */
}

b {
  margin: 5px 0 5px 6px;
  padding: 5px 0 5px 5px;
  color: #fff;
}

.b1 {
  animation: mymove 5s infinite;
  padding: 5px 3px 5px 3px;
  background: red;
  border: 1px solid black;
  outline: 2px solid black;
}
.b2 {
  animation: mymove 5s infinite;
  padding: 5px 3px 5px 3px;
  background: blue;
  border: 1px solid black;
  outline: 2px solid black;
}

.b3 {
  animation: mymove 6s infinite;
  padding: 5px 3px 5px 3px;
  background: green;
  border: 1px solid black;
  outline: 2px solid black;
}

.b4 {
  animation: mymove 6s infinite;
  padding: 5px 3px 5px 3px;
  background: yellow;
  border: 1px solid black;
  outline: 2px solid black;
}

.b5 {
  animation: mymove 7s infinite;
  padding: 5px 3px 5px 3px;
  background: skyblue;
  border: 1px solid black;
  outline: 2px solid black;
}

.b6 {
  animation: mymove 7s infinite;
  padding: 5px 4px 5px 4px;
  background: chocolate;
  border: 1px solid black;
  outline: 2px solid black;
}

.b7 {
  animation: mymove 7s infinite;
  padding: 5px 3px 5px 3px;
  background: purple;
  border: 1px solid black;
  outline: 2px solid black;
}

.b8 {
  animation: mymove 7s infinite;
  padding: 5px 3px 5px 3px;
  background: orange;
  border: 1px solid black;
  outline: 2px solid black;
  margin-right: 6px;
}

@keyframes mymove {
  100% {
    transform: rotateX(360deg);
  }
}

body {
  background: #0096c7;
}

main{
    position: relative;
    display: flex;
    justify-content: space-around;
}

.container {
  height: auto;
  width: 500px;
  margin: 50px 50px 50px 50px;
  border: 2px solid orange;
  border-width: 5px;
  border-radius: 20px;
  background-image: linear-gradient(-90deg, #c0d1d8, #A7C957);
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 20px 20px 20px;
}

#inputBox {
  height: 30px;
  width: 480px;
  border: 2px solid orangered;
  outline: 1px solid orangered;
  border-radius: 20px;
  padding-left: 8px;
}

.submitBtn {
  height: 30px;
  width: 80px;
  border: none;
  outline: none;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  background: orangered;
  cursor: pointer;
}

ul li {
  list-style: none;
  font-size: 18px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/circleicon.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #df1e1e;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/correct.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #444e5f;
  color: white;
}

.containerbox {
  position: relative;
  margin-top: 60px;
  margin-right: 20px;
}

.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  
  border: 7px solid #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(images/bg3.jpg);
  background-position: center;
  background-size: cover;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
  text-align: center;
}

.clock span b {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 20px;
}

.clock::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
}

.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hand i {
  position: absolute;
  background-color: var(--clr);
  width: 4px;
  height: var(--h);
  border-radius: 8px;
}
