body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(-145deg, #faedcd, #d4a373); */
  background-image: url(images/wall8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navBar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: url(images/bg5.jpg);
  background-size: fill; */
  background-image: linear-gradient(-135deg, #cdb4db, #278ee8);
  list-style: none;
}

.navLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 300px;
  color: #03101c;
  font-size: 2rem;
  font-weight: 500;
}
.navLeft {
  animation: blinker 6s linear infinite;
  color: #f50a0a;
  padding: 0 50px 0 50px;
  -webkit-text-stroke: 1px #fdf0d5;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.navRight {
  font-size: 1rem;
  font-weight: bolder;
}
.navRight ul {
  display: flex;
  justify-content: end;
  align-items: center;
}
.navRight ul li {
  list-style: none;
  margin: 0 23px;
}
.navRight ul li a {
  text-decoration: none;
  color: #6f1d1b;
}

.navRight ul li a:hover {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

.g1png {
  height: 60px;
  width: 60px;
}

.tooltrip1,
.tooltrip2,
.tooltrip3 {
  position: relative;
}
.tooltriptext1,
.tooltriptext2,
.tooltriptext3 {
  visibility: hidden;
  width: 40px;
  background-size: contain;
  background-color: #070d10;
  color: #fff;
  font-size: 8px;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 50%;
  margin-bottom: -60px;
}

.tooltrip1:hover .tooltriptext1 {
  visibility: visible;
}
.tooltrip2:hover .tooltriptext2 {
  visibility: visible;
}
.tooltrip3:hover .tooltriptext3 {
  visibility: visible;
}

.about {
  height: 590px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paraLeft {
  border: 2px dotted black;
  padding: 50px 50px 50px 50px;
  /* outline: 5px solid black; */
  margin-top: -80px;
  margin-left: 20px;
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(10px);
}
.paraRight {
  border: 1px solid black;
  padding: 20px 20px 20px 20px;
  /* outline: 5px solid black; */
  margin-top: -80px;
  margin-left: 20px;
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(10px);
}
.aboutus {
  margin-left: 560px;
  font-size: 30px;
  background-color: #6f1d1b;
  color: white;
  width: 180px;
  text-align: center;
  border-radius: 20px;
  animation: mymove 3s infinite;
}

@keyframes mymove {
  100% {
    transform: rotateX(360deg);
  }
}

#righttick {
  height: 20px;
  align-items: center;
}

footer {
  padding-top: -800px;
}

.column {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20px;
  height: 200px;
}

.col1 {
  background: transparent;
  backdrop-filter: blur(25px);
  padding: 80px 50px 80px 50px;
  border-radius: 20px;
  text-align: center;
  margin-top: -200px;
}
.col2 {
  background: transparent;
  backdrop-filter: blur(25px);
  padding: 80px 50px 80px 50px;
  border-radius: 20px;
  text-align: center;
  margin-top: -200px;
}
.col3 {
  background: transparent;
  backdrop-filter: blur(25px);
  padding: 80px 50px 80px 50px;
  border-radius: 20px;
  text-align: center;
  margin-top: -200px;
}
.col4 {
  background: transparent;
  backdrop-filter: blur(25px);
  padding: 80px 50px 80px 50px;
  border-radius: 20px;
  text-align: center;
  margin-top: -200px;
}
